.App {
  text-align: center;
}

.cell{
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.selectedCell{
  background: black;
}

.notSelected{
  background: white;
}

button{
  min-width: 80px;
}